body{
    color: #e9ecef;
}

.form-box {
    max-width: 550px; 
    background-color: rgba(0,0,0,0.7); 
    background-image: url(../images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
}

.page-header {
    text-align: center; 
    font-family: impact; 
    border-bottom: 2px solid; 
    padding: 20px 0;
    font-size: 2.5rem;
}
.h2, h2 {
    font-size: 2.7rem;
}

form {
    padding: 25px;
}

#swap {
    width: 40px;
    height: 40px;
    margin-top: 25px;
    margin-left: 20px;
}

#logo {
    width: 80px;
    height: 60px;
}

.fixrow {
    padding-left: 10%;
    margin-bottom: 5px;
}

label{
    font-weight: bold;
}

#root {
    padding-bottom: 1%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

table {
    font-size: 18px;
    font-weight: bold;
}

th {
    max-width: 72px;
    text-align: center;
}
td{
    max-width: 70px;
}
#th {
    max-width: 68px;
}
.invisible {
    display: none;
}
i {
    font-size: 11px;
}

.difference {
    color: red;
    font-size: 28px;
    font-weight: bold;
}

#origin, #recipient {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

@media (max-width: 992px) {
    #swap {
        width:40px;
        height:40px;
        margin-top: 0px;
        margin-left: 220px;
        align-self: center;
        transform: rotate(90deg);
    }
    .fixrow {
        padding-left: 0;
    }
    .h2, h2 {
        font-size: 2rem;
    }
    table, #root {
        font-size: 16px;
    }
    .difference {
        font-size: 22px;
    }
}

@media (max-width: 450px) {
    #swap {
        margin-top: 0px;
        margin-left: 130px;
    }
    .h2, h2 {
        font-size: 1.5rem;
    }
    table, #root, .difference {
        font-size: 14px;
    }
    #fraction, #currency {
        display: none;
    }
}
