body{
    color: #e9ecef;
}

.form-box {
    max-width: 550px; 
    background-color: rgba(0,0,0,0.7); 
    background-image: url(../images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
}

.page-header {
    text-align: center; 
    font-family: impact; 
    border-bottom: 2px solid; 
    padding: 20px 0;
}

form {
    padding: 25px;
}

img {
    width: 40px;
    height: 40px;
    margin-top: 25px;
    margin-left: 20px;
}

.fixrow {
    padding-left: 10%;
}

label{
    font-weight: bold;
}

#root {
    line-height: 2;
    text-align: center;
    font-weight: bold;
}

table {
    font-size: 20px;
    font-weight: bold;
}

th {
    max-width: 70px;
}
td{
    max-width: 70px;
}
.invisible {
    display: none;
}
i {
    font-size: 11px;
}

#origin, #recipient {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

@media (max-width: 800px) {
    img {
        width:40px;
        height:40px;
        margin-top: 0px;
        margin-left: 220px;
        align-self: center;
    }
    .fixrow {
        padding-left: 0;
    }
    th {
        max-width: 170px;
    }
}

@media (max-width: 450px) {
    img {
        margin-top: 0px;
        margin-left: 130px;
    }
}
